.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 18%;
    left: 50%;
    z-index: 999999999;
}

.spinner-icon {
    font-size: 3rem;
    color: #E50914;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}